@font-face {
  font-family: "iconfont"; /* Project id 4343287 */
  src: url('//at.alicdn.com/t/c/font_4343287_eqt3o70h0zk.woff2?t=1701759913990') format('woff2'),
       url('//at.alicdn.com/t/c/font_4343287_eqt3o70h0zk.woff?t=1701759913990') format('woff'),
       url('//at.alicdn.com/t/c/font_4343287_eqt3o70h0zk.ttf?t=1701759913990') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-kefu:before {
  content: "\e88f";
}

.icon-yanjing-zhengyan:before {
  content: "\e63a";
}

.icon-weibo:before {
  content: "\e66b";
}

.icon-weixin:before {
  content: "\e607";
}

.icon-QQ:before {
  content: "\e73e";
}

.icon-suo:before {
  content: "\e672";
}

.icon-jiesuo:before {
  content: "\e669";
}

.icon-lock:before {
  content: "\e614";
}

.icon-shouji:before {
  content: "\e603";
}

.icon-yonghutouxiang1:before {
  content: "\e79a";
}

.icon-yonghutouxiang2:before {
  content: "\e652";
}

.icon-yonghutouxiang:before {
  content: "\e634";
}

.icon-shouye:before {
  content: "\e751";
}

.icon-wode:before {
  content: "\e62f";
}

.icon-gouwuche:before {
  content: "\e70b";
}

.icon-fenlei:before {
  content: "\e65c";
}

.icon-qianqian:before {
  content: "\e655";
}

.icon-purseS:before {
  content: "\e670";
}

.icon-qian:before {
  content: "\e665";
}

.icon-dunpai1:before {
  content: "\e604";
}

.icon-homepage-ads:before {
  content: "\e858";
}

.icon-zhengque:before {
  content: "\e8ad";
}

.icon-sousuo:before {
  content: "\e601";
}
